<% x = Album.find(params["number"].to_i)%>

<p>Here Are The <%= x.title %> Listings:</p>
<div class="columns">
  <ul>
    <%x.find_artists.each do |object| %>
    <li>
      <%= object.name%>
    </li>
    <% end %>
    <div style="clear:both"></div>
  </ul>
</div>
  <br />
<p><a href="/albums/list_albums">Choose Another Album?</a></p>
<br />
