<p>Choose your favorite album and we will list the artist that are on it: </p>
<div class="columns">
<ul>
<% Album.all.each do |object| %>
 <li>
   <a href="display_albums/<%= object.id %>">
     <%= object.title %>
   </a>
 </li>
<% end %>
<div style="clear:both"></div>
</ul>
</div>
<p>
Don't see what you're looking for?  <br>
You can <a href="/albums/add_album_form">Add An Album</a>
</p>
